@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  padding: 2em 1em 0 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  width: 100%;
}
header .container-logo {
  display: flex;
  justify-content: end;
}
header .container-logo img {
  width: 60px;
}
header .menuOpen {
  cursor: pointer;
}
header .menuOpen img {
  width: 55px;
}
header nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: hsl(36deg, 100%, 99%);
  padding: 2em;
  z-index: 999;
}
header nav .overlay {
  position: fixed;
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
header nav .menuClose {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 2em;
}
header nav .menuClose img {
  width: 35px;
}
header nav .container-list {
  position: relative;
  top: 150px;
}
header nav .container-list ul li {
  padding: 1.2em;
  list-style: none;
}
header nav .container-list ul li a {
  color: hsl(240deg, 100%, 5%);
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}
header nav .container-list ul li a:hover {
  color: hsl(5deg, 85%, 63%);
}

.menu {
  display: block;
}

.hero-container {
  width: 100%;
}
.hero-container .img-container {
  width: 100%;
}
.hero-container .img-container .desktop {
  display: none;
}
.hero-container .img-container img {
  width: 100%;
}
.hero-container .text-container {
  margin-bottom: 4em;
}
.hero-container .text-container h1 {
  font-size: 3.7em;
  font-weight: 800;
  line-height: 1em;
  margin: 0.5em 0;
}
.hero-container .text-container p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.7em;
  margin-bottom: 2em;
}
.hero-container .text-container a {
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
  background-color: hsl(5deg, 85%, 63%);
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.hero-container .text-container a:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.new-container {
  background-color: hsl(240deg, 100%, 5%);
  margin-bottom: 4em;
}
.new-container .text-container {
  padding: 1.5em;
}
.new-container .text-container h1 {
  color: hsl(35deg, 77%, 62%);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0.2em 0 1em;
}
.new-container .text-container h3 {
  color: hsl(36deg, 100%, 99%);
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1em;
  margin: 0.5em 0;
  cursor: pointer;
}
.new-container .text-container h3:hover {
  color: hsl(35deg, 77%, 62%);
}
.new-container .text-container p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.7em;
  margin-bottom: 2em;
}
.new-container .text-container hr {
  color: hsl(236deg, 13%, 42%);
  margin-bottom: 2em;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container .grid-wrapper {
  max-width: 50em;
}
.grid-container .grid-wrapper .grid {
  display: flex;
  justify-content: start;
  margin-bottom: 2em;
  width: 100%;
}
.grid-container .grid-wrapper .grid h2 {
  font-size: 2em;
  margin: 0 0 0.3em;
  color: hsl(233deg, 8%, 79%);
}
.grid-container .grid-wrapper .grid h3 {
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 0 0 0.7em;
  cursor: pointer;
}
.grid-container .grid-wrapper .grid h3:hover {
  color: hsl(5deg, 85%, 63%);
}
.grid-container .grid-wrapper .grid p {
  font-size: 1em;
  line-height: 1.7em;
  color: hsl(236deg, 13%, 42%);
}
.grid-container .grid-wrapper .grid img {
  width: 110px;
  height: auto;
  margin-right: 1.5em;
}

footer {
  position: relative;
  bottom: -30px;
  font-size: 0.8em;
  color: black;
}
footer div a {
  font-size: 0.8em;
  text-decoration: none;
}

@media (min-width: 740px) {
  .hero-container .img-container .mobile {
    display: none;
  }
  .hero-container .img-container .desktop {
    display: block;
  }
  .grid-container .grid-wrapper {
    display: grid;
    gap: 2em;
  }
  .grid-container .grid-wrapper .grid {
    margin: 0;
  }
  .grid-container .grid-wrapper .gaming {
    grid-column: span 2;
    justify-content: center;
  }
}
@media (min-width: 900px) {
  body {
    padding: 3em 2em;
  }
  .main-section {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    gap: 2em;
  }
  .menuOpen {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .navbar {
    display: flex;
    justify-content: end;
    background-color: transparent;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .navbar .overlay {
    display: none;
  }
  .navbar .menuClose {
    display: none;
  }
  .navbar .container-list {
    top: 0;
  }
  .navbar .container-list ul {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navbar .container-list ul li {
    padding: 1.2em;
    list-style: none;
  }
  .navbar .container-list ul li a {
    color: hsl(240deg, 100%, 5%);
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
  }
  .navbar .container-list ul li a:hover {
    color: hsl(35deg, 77%, 62%);
  }
  .hero-container .img-container .mobile {
    display: none;
  }
  .hero-container .img-container .desktop {
    display: block;
  }
  .grid-container {
    grid-column: span 2;
  }
  .grid-container .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 120%;
  }
  .grid-container .grid-wrapper .grid {
    grid-column: span 1;
    margin: 0;
  }
  .grid-container .grid-wrapper .grid p {
    margin: 0;
  }
  header {
    padding: 2em 0;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 2em 6em;
  }
  .hero-container .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  .hero-container .text-container .title {
    width: 50%;
    margin-right: 1em;
  }
  .hero-container .text-container .text {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  body {
    padding: 2em 10em;
  }
  .main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  }
  .hero-container .text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0;
  }
  .hero-container .text-container .title {
    width: 50%;
    margin-right: 1em;
    align-items: flex-start;
  }
  .hero-container .text-container .title h1 {
    margin: 0;
  }
  .hero-container .text-container .text {
    width: 50%;
  }
  .hero-container .text-container .text p {
    margin-bottom: 4em;
  }
}
@media (min-width: 1600px) {
  body {
    padding: 1em 10em;
  }
  .main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
  }
  .hero-container .text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0;
  }
  .hero-container .text-container .title {
    width: 50%;
    margin-right: 1em;
    align-items: flex-start;
  }
  .hero-container .text-container .title h1 {
    margin: 0;
  }
  .hero-container .text-container .text {
    width: 50%;
  }
  .hero-container .text-container .text p {
    margin-bottom: 4em;
  }
}/*# sourceMappingURL=style.css.map */